html 
{
   background-image: url("../images/most_text_gone_poster.jpg");
   background-size: fill;
   background-repeat: no-repeat;
   background-position: top;
   background-color: black;
}

.poster-text
{
    color: white;
}